<div class="container">
    <div>
        <h1>Silvio</h1>
    </div>
    <div>
        <nav>
            <ul class="navItens">
                <li><a href="#">Inicio</a></li>
                <li><a href="#">Sobre Mim</a></li>
                <li><a href="#">Habilidades</a></li>
                <li><a href="#">Blogs</a></li>
            </ul>
        </nav>
    </div>
    <div class="links">
        <a href="#"><i class="fab fa-linkedin"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-github"></i></a>
    </div>
</div>