<div class="meio-pagina">
    <div class="left">
        <h2> PROGRAMADOR </h2>
        <h1>Front End</h1>
        <p>Olá! Meu nome é Silvio, e eu sou desenvolvedor Front-End. Estou aqui para compartilhar meu portfólio, que contém alguns dos meus trabalhos mais recentes. Estou ansioso para compartilhar minha experiência e habilidades com você e espero que possamos trabalhar juntos em algo incrível...</p>
        <div class="btns">
            <button>Download CV</button>
            <button>hire me</button>
        </div>
    </div>
    <div class="right">
        <div class="img-box">
            <img src="../../../assets/img/novo.jpg" alt="">
        </div>
    </div>
</div>